openapi: 3.0.3
info:
  title: GlitchTip Accept API
  version: 1.0.0
  description: ''
  contact:
    email: sales@glitchtip.com
    url: https://glitchtip.com/
  license:
    name: MIT
  x-api-id: glitchtip
servers:
- url: https://app.glitchtip.com
  description: GlitchTip production server
tags:
- name: Accept
paths:
  /api/0/accept/{org_user_id}/{token}/:
    get:
      operationId: apps_organizations_ext_api_get_accept_invite
      summary: Get Accept Invite
      parameters:
      - in: path
        name: org_user_id
        schema:
          title: Org User Id
          type: integer
        required: true
      - in: path
        name: token
        schema:
          title: Token
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptInviteSchema'
      description: Return relevant organization data around an invite
      tags:
      - Accept
    post:
      operationId: apps_organizations_ext_api_accept_invite
      summary: Accept Invite
      parameters:
      - in: path
        name: org_user_id
        schema:
          title: Org User Id
          type: integer
        required: true
      - in: path
        name: token
        schema:
          title: Token
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptInviteSchema'
      description: Accepts invite to organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInviteIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Accept
components:
  schemas:
    AcceptInviteSchema:
      properties:
        acceptInvite:
          title: Acceptinvite
          type: boolean
        orgUser:
          $ref: '#/components/schemas/OrganizationUserOrganizationSchema'
      required:
      - acceptInvite
      - orgUser
      title: AcceptInviteSchema
      type: object
    OrganizationUserOrganizationSchema:
      description: Organization User Serializer with Organization info
      properties:
        id:
          title: Id
          type: string
        role:
          enum:
          - member
          - admin
          - manager
          - owner
          title: Role
          type: string
        roleName:
          title: Rolename
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        email:
          title: Email
          type: string
        user:
          nullable: true
          $ref: '#/components/schemas/UserSchema'
        pending:
          title: Pending
          type: boolean
        isOwner:
          title: Isowner
          type: boolean
        organization:
          $ref: '#/components/schemas/OrganizationSchema'
      required:
      - id
      - role
      - roleName
      - dateCreated
      - email
      - pending
      - isOwner
      - organization
      title: OrganizationUserOrganizationSchema
      type: object
    SocialAccountSchema:
      properties:
        email:
          title: Email
          nullable: true
          format: email
          type: string
        username:
          title: Username
          nullable: true
          type: string
        id:
          title: ID
          nullable: true
          type: integer
        provider:
          maxLength: 200
          title: Provider
          type: string
        uid:
          maxLength: 191
          title: Uid
          type: string
        lastLogin:
          format: date-time
          title: Last Login
          type: string
        dateJoined:
          format: date-time
          title: Date Joined
          type: string
      required:
      - email
      - username
      - provider
      - uid
      - lastLogin
      - dateJoined
      title: SocialAccountSchema
      type: object
    OrganizationSchema:
      properties:
        name:
          description: The name of the organization
          maxLength: 200
          title: Name
          type: string
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        status:
          additionalProperties:
            type: string
          default:
            id: active
            name: active
          title: Status
          type: object
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        isEarlyAdopter:
          default: false
          title: Isearlyadopter
          type: boolean
        require2fa:
          default: false
          title: Require2Fa
          type: boolean
        slug:
          description: The name in all lowercase, suitable for URL identification
          maxLength: 200
          title: Slug
          type: string
        isAcceptingEvents:
          default: true
          description: Used for throttling at org level
          title: Is Accepting Events
          type: boolean
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
      required:
      - name
      - id
      - dateCreated
      - slug
      title: OrganizationSchema
      type: object
    UserSchema:
      properties:
        id:
          title: Id
          type: string
        options:
          $ref: '#/components/schemas/UserOptions'
        username:
          format: email
          title: Username
          type: string
        dateJoined:
          format: date-time
          title: Datejoined
          type: string
        email:
          format: email
          title: Email
          type: string
        hasPasswordAuth:
          title: Haspasswordauth
          type: boolean
        identities:
          items:
            $ref: '#/components/schemas/SocialAccountSchema'
          title: Identities
          type: array
        lastLogin:
          title: Last Login
          nullable: true
          format: date-time
          type: string
        isSuperuser:
          default: false
          description: Designates that this user has all permissions without explicitly assigning them.
          title: Superuser Status
          type: boolean
        isActive:
          default: true
          description: Designates whether this user should be treated as active. Unselect this instead of deleting accounts.
          title: Active
          type: boolean
        name:
          title: Name
          nullable: true
          maxLength: 255
          type: string
      required:
      - id
      - options
      - username
      - dateJoined
      - email
      - hasPasswordAuth
      - identities
      title: UserSchema
      type: object
    AcceptInviteIn:
      properties:
        acceptInvite:
          title: Acceptinvite
          type: boolean
      required:
      - acceptInvite
      title: AcceptInviteIn
      type: object
    UserOptions:
      properties:
        timezone:
          title: Timezone
          nullable: true
          type: string
        stacktraceOrder:
          title: Stacktraceorder
          nullable: true
          type: integer
        language:
          title: Language
          nullable: true
          type: string
        clock24Hours:
          title: Clock24Hours
          nullable: true
          type: boolean
        preferredTheme:
          title: Preferredtheme
          nullable: true
          type: string
      title: UserOptions
      type: object
  securitySchemes:
    TokenAuth:
      type: http
      scheme: bearer
    SessionAuth:
      type: apiKey
      in: cookie
      name: sessionid
