openapi: 3.0.3
info:
  title: GlitchTip Accept Projects API
  version: 1.0.0
  description: ''
  contact:
    email: sales@glitchtip.com
    url: https://glitchtip.com/
  license:
    name: MIT
  x-api-id: glitchtip
servers:
- url: https://app.glitchtip.com
  description: GlitchTip production server
tags:
- name: Projects
paths:
  /api/0/projects/{organization_slug}/{project_slug}/alerts/:
    get:
      operationId: apps_alerts_api_list_project_alerts
      summary: List Project Alerts
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectAlertSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    post:
      operationId: apps_alerts_api_create_project_alert
      summary: Create Project Alert
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAlertSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectAlertIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/alerts/{alert_id}/:
    put:
      operationId: apps_alerts_api_update_project_alert
      summary: Update Project Alert
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: alert_id
        schema:
          title: Alert Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAlertSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectAlertIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    delete:
      operationId: apps_alerts_api_delete_project_alert
      summary: Delete Project Alert
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: alert_id
        schema:
          title: Alert Id
          type: integer
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/alerts/{alert_id}/test/:
    post:
      operationId: apps_alerts_api_test_project_alert
      summary: Test Project Alert
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: alert_id
        schema:
          title: Alert Id
          type: integer
        required: true
      - in: query
        name: recipient_id
        schema:
          title: Recipient Id
          nullable: true
          type: integer
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TestAlertResultSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/files/difs/assemble/:
    post:
      operationId: apps_difs_api_difs_assemble_api
      summary: Difs Assemble Api
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssemblePayload'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/reprocessing/:
    post:
      operationId: apps_difs_api_project_reprocessing
      summary: Project Reprocessing
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
      description: Not implemented. It is a dummy API to keep `sentry-cli upload-dif` happy
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/files/dsyms/:
    get:
      operationId: apps_difs_api_list_dsyms
      summary: List Dsyms
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DebugFileSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    post:
      operationId: apps_difs_api_dsyms
      summary: Dsyms
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  title: File
                  type: string
              required:
              - file
              title: FileParams
              type: object
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/environments/:
    get:
      operationId: apps_environments_api_list_environment_projects
      summary: List Environment Projects
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: query
        name: visibility
        schema:
          default: visible
          enum:
          - all
          - hidden
          - visible
          title: Visibility
          type: string
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EnvironmentProjectSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/environments/{name}/:
    put:
      operationId: apps_environments_api_update_environment_project
      summary: Update Environment Project
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: name
        schema:
          title: Name
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentProjectSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentProjectIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/:
    get:
      operationId: apps_projects_api_list_projects
      summary: List Projects
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectOrganizationSchema'
                title: Response
                type: array
      description: List all projects that a user has access to
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/:
    get:
      operationId: apps_projects_api_get_project
      summary: Get Project
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    put:
      operationId: apps_projects_api_update_project
      summary: Update Project
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    delete:
      operationId: apps_projects_api_delete_project
      summary: Delete Project
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/keys/:
    get:
      operationId: apps_projects_api_list_project_keys
      summary: List Project Keys
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: query
        name: status
        schema:
          title: Status
          nullable: true
          type: string
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectKeySchema'
                title: Response
                type: array
      description: List all DSN keys for a given project
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    post:
      operationId: apps_projects_api_create_project_key
      summary: Create Project Key
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectKeySchema'
      description: Create new key for project. Rate limiting not implemented.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectKeyIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/keys/{key_id}/:
    get:
      operationId: apps_projects_api_get_project_key
      summary: Get Project Key
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: key_id
        schema:
          format: uuid
          title: Key Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectKeySchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    put:
      operationId: apps_projects_api_update_project_key
      summary: Update Project Key
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: key_id
        schema:
          format: uuid
          title: Key Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectKeySchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectKeyIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    delete:
      operationId: apps_projects_api_delete_project_key
      summary: Delete Project Key
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: key_id
        schema:
          format: uuid
          title: Key Id
          type: string
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/teams/:
    get:
      operationId: apps_teams_api_list_project_teams
      summary: List Project Teams
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/teams/{team_slug}/:
    post:
      operationId: apps_teams_api_add_team_to_project
      summary: Add Team To Project
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: team_slug
        schema:
          title: Team Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTeamSchema'
      description: Add team to project
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    delete:
      operationId: apps_teams_api_delete_team_from_project
      summary: Delete Team From Project
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: team_slug
        schema:
          title: Team Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTeamSchema'
      description: Remove team from project
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/releases/:
    post:
      operationId: apps_releases_api_create_project_release
      summary: Create Project Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseBase'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    get:
      operationId: apps_releases_api_list_project_releases
      summary: List Project Releases
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReleaseSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/releases/{version}/:
    get:
      operationId: apps_releases_api_get_project_release
      summary: Get Project Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    put:
      operationId: apps_releases_api_update_project_release
      summary: Update Project Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseUpdate'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    delete:
      operationId: apps_releases_api_delete_project_release
      summary: Delete Project Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/releases/{version}/files/:
    get:
      operationId: apps_releases_api_list_project_release_files
      summary: List Project Release Files
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DebugSymbolBundleSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
  /api/0/projects/{organization_slug}/{project_slug}/releases/{version}/files/{file_id}/:
    delete:
      operationId: apps_releases_api_delete_project_release_file
      summary: Delete Project Release File
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      - in: path
        name: file_id
        schema:
          title: File Id
          type: integer
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
    get:
      operationId: apps_releases_api_get_project_release_file
      summary: Get Project Release File
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      - in: path
        name: file_id
        schema:
          title: File Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebugSymbolBundleSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Projects
components:
  schemas:
    NameSlugProjectSchema:
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
      required:
      - name
      title: NameSlugProjectSchema
      type: object
    KeyRateLimit:
      properties:
        window:
          title: Window
          type: integer
        count:
          title: Count
          type: integer
      required:
      - window
      - count
      title: KeyRateLimit
      type: object
    AssemblePayload:
      additionalProperties:
        $ref: '#/components/schemas/ChecksumSchema'
      title: AssemblePayload
      type: object
    ProjectKeySchema:
      description: 'A project key (DSN) provides a public authentication string used for event

        ingestion.'
      properties:
        name:
          title: Name
          nullable: true
          type: string
        rateLimit:
          nullable: true
          $ref: '#/components/schemas/KeyRateLimit'
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        id:
          format: uuid
          title: Id
          type: string
        dsn:
          additionalProperties:
            type: string
          title: Dsn
          type: object
        label:
          title: Label
          nullable: true
          type: string
        public:
          format: uuid
          title: Public
          type: string
        projectID:
          title: Projectid
          type: integer
      required:
      - dateCreated
      - id
      - dsn
      - label
      - public
      - projectID
      title: ProjectKeySchema
      type: object
    ProjectIn:
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
        platform:
          title: Platform
          nullable: true
          type: string
        eventThrottleRate:
          title: Eventthrottlerate
          nullable: true
          type: integer
      required:
      - name
      title: ProjectIn
      type: object
    TestAlertResultSchema:
      properties:
        recipientType:
          title: Recipienttype
          type: string
        status:
          title: Status
          type: string
        message:
          title: Message
          nullable: true
          type: string
      required:
      - recipientType
      - status
      title: TestAlertResultSchema
      type: object
    TeamSchema:
      properties:
        id:
          title: Id
          type: string
        slug:
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
          title: Slug
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        isMember:
          title: Ismember
          type: boolean
        memberCount:
          title: Membercount
          type: integer
      required:
      - id
      - slug
      - dateCreated
      - isMember
      - memberCount
      title: TeamSchema
      type: object
    DebugFileSchema:
      properties:
        id:
          title: Id
          type: string
        uuid:
          title: Uuid
          nullable: true
          type: string
        debugId:
          title: Debugid
          nullable: true
          type: string
        cpuName:
          title: Cpuname
          type: string
        objectName:
          title: Objectname
          type: string
        symbolType:
          title: Symboltype
          nullable: true
          type: string
        size:
          title: Size
          type: integer
        sha1:
          title: Sha1
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        headers:
          additionalProperties:
            type: string
          title: Headers
          type: object
        data:
          additionalProperties: true
          title: Data
          type: object
      required:
      - id
      - cpuName
      - objectName
      - size
      - sha1
      - dateCreated
      - headers
      - data
      title: DebugFileSchema
      type: object
    AlertRecipientSchema:
      properties:
        id:
          title: ID
          nullable: true
          type: integer
        recipientType:
          maxLength: 16
          title: Recipient Type
          type: string
        url:
          title: Url
          nullable: true
          maxLength: 2000
          type: string
        config:
          title: Config
          nullable: true
          type: object
        tagsToAdd:
          description: List of additional tags to include in the alert
          title: Tags To Add
          nullable: true
          items: {}
          type: array
      required:
      - recipientType
      title: AlertRecipientSchema
      type: object
    ProjectAlertIn:
      properties:
        name:
          title: Name
          nullable: true
          type: string
        alertRecipients:
          title: Alertrecipients
          nullable: true
          items:
            discriminator:
              mapping:
                discord: '#/components/schemas/WebhookAlertRecipientIn'
                email: '#/components/schemas/EmailAlertRecipientIn'
                feishu: '#/components/schemas/WebhookAlertRecipientIn'
                googlechat: '#/components/schemas/WebhookAlertRecipientIn'
                ntfy: '#/components/schemas/WebhookAlertRecipientIn'
                teams: '#/components/schemas/WebhookAlertRecipientIn'
                webhook: '#/components/schemas/WebhookAlertRecipientIn'
                zulip: '#/components/schemas/ZulipAlertRecipientIn'
              propertyName: recipientType
            oneOf:
            - $ref: '#/components/schemas/EmailAlertRecipientIn'
            - $ref: '#/components/schemas/WebhookAlertRecipientIn'
            - $ref: '#/components/schemas/ZulipAlertRecipientIn'
          type: array
        timespanMinutes:
          title: Timespan Minutes
          nullable: true
          type: integer
        quantity:
          title: Quantity
          nullable: true
          type: integer
        uptime:
          default: false
          description: Send alert on any uptime monitor check failure
          title: Uptime
          type: boolean
      title: ProjectAlertIn
      type: object
    WebhookAlertRecipientIn:
      properties:
        recipientType:
          enum:
          - discord
          - feishu
          - webhook
          - googlechat
          - teams
          - ntfy
          title: Recipienttype
          type: string
        url:
          format: uri
          maxLength: 2083
          minLength: 1
          title: Url
          type: string
        tagsToAdd:
          title: Tagstoadd
          nullable: true
          items:
            type: string
          type: array
      required:
      - recipientType
      - url
      title: WebhookAlertRecipientIn
      type: object
    EnvironmentProjectIn:
      properties:
        name:
          title: Name
          type: string
        isHidden:
          title: Ishidden
          type: boolean
      required:
      - name
      - isHidden
      title: EnvironmentProjectIn
      type: object
    ReleaseSchema:
      properties:
        ref:
          title: Ref
          nullable: true
          type: string
        dateReleased:
          title: Datereleased
          nullable: true
          format: date-time
          type: string
        version:
          maxLength: 255
          title: Version
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        shortVersion:
          title: Shortversion
          type: string
        projects:
          items:
            $ref: '#/components/schemas/NameSlugProjectSchema'
          title: Projects
          type: array
        repository:
          nullable: true
          $ref: '#/components/schemas/ReleaseRepositorySchema'
        url:
          title: Url
          nullable: true
          type: string
        data:
          title: Data
          type: object
        commitCount:
          default: 0
          title: Commit Count
          type: integer
        deployCount:
          default: 0
          title: Deploy Count
          type: integer
      required:
      - dateReleased
      - version
      - dateCreated
      - shortVersion
      - projects
      title: ReleaseSchema
      type: object
    ZulipAlertRecipientIn:
      properties:
        recipientType:
          const: zulip
          title: Recipienttype
          type: string
        url:
          format: uri
          maxLength: 2083
          minLength: 1
          title: Url
          type: string
        botEmail:
          title: Botemail
          type: string
        apiKey:
          title: Apikey
          type: string
        channel:
          title: Channel
          type: string
        topic:
          default: GlitchTip Alerts
          title: Topic
          type: string
        tagsToAdd:
          title: Tagstoadd
          nullable: true
          items:
            type: string
          type: array
      required:
      - recipientType
      - url
      - botEmail
      - apiKey
      - channel
      title: ZulipAlertRecipientIn
      type: object
    ChecksumSchema:
      properties:
        name:
          title: Name
          nullable: true
          type: string
        debug_id:
          title: Debug Id
          nullable: true
          type: string
        chunks:
          items:
            type: string
          title: Chunks
          type: array
      title: ChecksumSchema
      type: object
    EmailAlertRecipientIn:
      properties:
        recipientType:
          const: email
          title: Recipienttype
          type: string
        url:
          anyOf:
          - format: uri
            maxLength: 2083
            minLength: 1
            type: string
          - const: ''
            type: string
          default: ''
          title: Url
          nullable: true
        tagsToAdd:
          title: Tagstoadd
          nullable: true
          items:
            type: string
          type: array
      required:
      - recipientType
      title: EmailAlertRecipientIn
      type: object
    TeamSlugSchema:
      description: Used in relations including organization projects
      properties:
        id:
          title: Id
          type: string
        slug:
          title: Slug
          type: string
      required:
      - id
      - slug
      title: TeamSlugSchema
      type: object
    ReleaseRepositorySchema:
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
      required:
      - id
      - name
      title: ReleaseRepositorySchema
      type: object
    EnvironmentProjectSchema:
      properties:
        name:
          title: Name
          type: string
        id:
          title: ID
          nullable: true
          type: integer
        isHidden:
          default: false
          title: Is Hidden
          type: boolean
      required:
      - name
      title: EnvironmentProjectSchema
      type: object
    ProjectKeyIn:
      properties:
        name:
          title: Name
          nullable: true
          type: string
        rateLimit:
          nullable: true
          $ref: '#/components/schemas/KeyRateLimit'
      title: ProjectKeyIn
      type: object
    ReleaseUpdate:
      properties:
        ref:
          title: Ref
          nullable: true
          type: string
        dateReleased:
          title: Datereleased
          nullable: true
          format: date-time
          type: string
      title: ReleaseUpdate
      type: object
    ProjectAlertSchema:
      properties:
        alertRecipients:
          items:
            $ref: '#/components/schemas/AlertRecipientSchema'
          title: Alertrecipients
          type: array
        id:
          title: ID
          nullable: true
          type: integer
        name:
          title: Name
          nullable: true
          maxLength: 255
          type: string
        timespanMinutes:
          title: Timespan Minutes
          nullable: true
          type: integer
        quantity:
          title: Quantity
          nullable: true
          type: integer
        uptime:
          default: false
          description: Send alert on any uptime monitor check failure
          title: Uptime
          type: boolean
      required:
      - alertRecipients
      title: ProjectAlertSchema
      type: object
    ProjectOrganizationSchema:
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
        id:
          title: Id
          type: string
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        color:
          default: ''
          title: Color
          type: string
        features:
          default: []
          items:
            type: string
          title: Features
          type: array
        hasAccess:
          default: true
          title: Hasaccess
          type: boolean
        isBookmarked:
          default: false
          title: Isbookmarked
          type: boolean
        isInternal:
          default: false
          title: Isinternal
          type: boolean
        isMember:
          title: Ismember
          type: boolean
        isPublic:
          default: false
          title: Ispublic
          type: boolean
        scrubIPAddresses:
          title: Scrubipaddresses
          type: boolean
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        platform:
          title: Platform
          nullable: true
          type: string
        firstEvent:
          title: First Event
          nullable: true
          format: date-time
          type: string
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
        organization:
          $ref: '#/components/schemas/OrganizationSchema'
      required:
      - name
      - id
      - isMember
      - scrubIPAddresses
      - dateCreated
      - organization
      title: ProjectOrganizationSchema
      type: object
    OrganizationSchema:
      properties:
        name:
          description: The name of the organization
          maxLength: 200
          title: Name
          type: string
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        status:
          additionalProperties:
            type: string
          default:
            id: active
            name: active
          title: Status
          type: object
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        isEarlyAdopter:
          default: false
          title: Isearlyadopter
          type: boolean
        require2fa:
          default: false
          title: Require2Fa
          type: boolean
        slug:
          description: The name in all lowercase, suitable for URL identification
          maxLength: 200
          title: Slug
          type: string
        isAcceptingEvents:
          default: true
          description: Used for throttling at org level
          title: Is Accepting Events
          type: boolean
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
      required:
      - name
      - id
      - dateCreated
      - slug
      title: OrganizationSchema
      type: object
    ProjectTeamSchema:
      description: Project Schema with related teams
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
        id:
          title: Id
          type: string
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        color:
          default: ''
          title: Color
          type: string
        features:
          default: []
          items:
            type: string
          title: Features
          type: array
        hasAccess:
          default: true
          title: Hasaccess
          type: boolean
        isBookmarked:
          default: false
          title: Isbookmarked
          type: boolean
        isInternal:
          default: false
          title: Isinternal
          type: boolean
        isMember:
          title: Ismember
          type: boolean
        isPublic:
          default: false
          title: Ispublic
          type: boolean
        scrubIPAddresses:
          title: Scrubipaddresses
          type: boolean
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        platform:
          title: Platform
          nullable: true
          type: string
        firstEvent:
          title: First Event
          nullable: true
          format: date-time
          type: string
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
        teams:
          items:
            $ref: '#/components/schemas/TeamSlugSchema'
          title: Teams
          type: array
      required:
      - name
      - id
      - isMember
      - scrubIPAddresses
      - dateCreated
      - teams
      title: ProjectTeamSchema
      type: object
    DebugSymbolBundleSchema:
      properties:
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        sha1:
          title: Sha1
          nullable: true
          type: string
        headers:
          title: Headers
          nullable: true
          additionalProperties:
            type: string
          type: object
        name:
          title: Name
          type: string
        size:
          default: 0
          title: Size
          type: integer
      required:
      - id
      - dateCreated
      - name
      title: DebugSymbolBundleSchema
      type: object
    ReleaseBase:
      properties:
        ref:
          title: Ref
          nullable: true
          type: string
        dateReleased:
          title: Datereleased
          nullable: true
          format: date-time
          type: string
        version:
          title: Version
          type: string
      required:
      - version
      title: ReleaseBase
      type: object
  securitySchemes:
    TokenAuth:
      type: http
      scheme: bearer
    SessionAuth:
      type: apiKey
      in: cookie
      name: sessionid
