openapi: 3.2.0
info:
  title: GlitchTip Store API
  version: 1.0.0
  description: ''
  contact:
    email: sales@glitchtip.com
    url: https://glitchtip.com/
  license:
    name: MIT
  x-api-id: glitchtip
servers:
- url: https://app.glitchtip.com
  description: GlitchTip production server
tags:
- name: Store
paths:
  /api/{project_id}/store/:
    post:
      operationId: apps_event_ingest_api_event_store
      summary: Event Store
      parameters:
      - in: path
        name: project_id
        schema:
          title: Project Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestOut'
      description: 'Event store is the original event ingest API from OSS Sentry but is used less often

        Unlike Envelope, it accepts only one Issue event.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventIngestSchema'
        required: true
      tags:
      - Store
components:
  schemas:
    CultureContext:
      properties:
        type:
          const: culture
          default: culture
          type: string
        calendar:
          type:
          - string
          - 'null'
        display_name:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        is_24_hour_format:
          type:
          - boolean
          - 'null'
        timezone:
          type:
          - string
          - 'null'
      type: object
    ReplayContext:
      properties:
        type:
          const: replay
          default: replay
          title: Type
          type: string
        replay_id:
          title: Replay Id
          type: string
      required:
      - replay_id
      title: ReplayContext
      type: object
    ClientSDKInfo:
      properties:
        integrations:
          title: Integrations
          items:
            type:
            - string
            - 'null'
          type:
          - array
          - 'null'
        name:
          title: Name
          type:
          - string
          - 'null'
        packages:
          title: Packages
          items:
            $ref: '#/components/schemas/ClientSDKPackage'
          type:
          - array
          - 'null'
        version:
          title: Version
          type:
          - string
          - 'null'
      required:
      - name
      - version
      title: ClientSDKInfo
      type: object
    LockReason:
      properties:
        type:
          title: Type
          type: integer
        address:
          title: Address
          type:
          - string
          - 'null'
        package_name:
          title: Package Name
          type:
          - string
          - 'null'
        class_name:
          title: Class Name
          type:
          - string
          - 'null'
        thread_id:
          title: Thread Id
          type:
          - string
          - 'null'
      required:
      - type
      title: LockReason
      type: object
    EventIngestSchema:
      properties:
        platform:
          title: Platform
          type:
          - string
          - 'null'
        errors:
          title: Errors
          items: {}
          type:
          - array
          - 'null'
        event_id:
          format: uuid
          title: Event Id
          type: string
        timestamp:
          anyOf:
          - format: date-time
            type: string
          - additionalProperties: true
            type: object
          title: Timestamp
        level:
          default: error
          title: Level
          type:
          - string
          - 'null'
        logentry:
          $ref: '#/components/schemas/EventMessage'
        logger:
          title: Logger
          type:
          - string
          - 'null'
        transaction:
          title: Transaction
          type:
          - string
          - 'null'
        server_name:
          title: Server Name
          type:
          - string
          - 'null'
        release:
          title: Release
          type:
          - string
          - 'null'
        dist:
          title: Dist
          type:
          - string
          - 'null'
        tags:
          anyOf:
          - items:
              items:
                type:
                - string
                - 'null'
              type: array
            type: array
          - additionalProperties:
              type:
              - string
              - 'null'
            type: object
          title: Tags
        environment:
          title: Environment
          type:
          - string
          - 'null'
        modules:
          title: Modules
          additionalProperties:
            type:
            - string
            - 'null'
          type:
          - object
          - 'null'
        extra:
          title: Extra
          additionalProperties: true
          type:
          - object
          - 'null'
        fingerprint:
          title: Fingerprint
          items:
            type:
            - string
            - 'null'
          type:
          - array
          - 'null'
        exception:
          $ref: '#/components/schemas/IngestValueEventException'
        threads:
          $ref: '#/components/schemas/ValueEventThread'
        message:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/EventMessage'
          title: Message
        template:
          $ref: '#/components/schemas/EventTemplate'
        breadcrumbs:
          $ref: '#/components/schemas/ValueEventBreadcrumb'
        sdk:
          $ref: '#/components/schemas/ClientSDKInfo'
        request:
          $ref: '#/components/schemas/IngestRequest'
        contexts:
          title: Contexts
          additionalProperties:
            anyOf:
            - discriminator:
                mapping:
                  app: '#/components/schemas/AppContext'
                  browser: '#/components/schemas/BrowserContext'
                  cloud_resource: '#/components/schemas/CloudResourceContext'
                  culture: '#/components/schemas/CultureContext'
                  device: '#/components/schemas/DeviceContext'
                  gpu: '#/components/schemas/GPUContext'
                  os: '#/components/schemas/OSContext'
                  replay: '#/components/schemas/ReplayContext'
                  response: '#/components/schemas/ResponseContext'
                  runtime: '#/components/schemas/RuntimeContext'
                  state: '#/components/schemas/StateContext'
                  trace: '#/components/schemas/TraceContext'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/DeviceContext'
              - $ref: '#/components/schemas/OSContext'
              - $ref: '#/components/schemas/RuntimeContext'
              - $ref: '#/components/schemas/AppContext'
              - $ref: '#/components/schemas/BrowserContext'
              - $ref: '#/components/schemas/GPUContext'
              - $ref: '#/components/schemas/StateContext'
              - $ref: '#/components/schemas/CultureContext'
              - $ref: '#/components/schemas/CloudResourceContext'
              - $ref: '#/components/schemas/TraceContext'
              - $ref: '#/components/schemas/ReplayContext'
              - $ref: '#/components/schemas/ResponseContext'
            - {}
          type:
          - object
          - 'null'
        user:
          $ref: '#/components/schemas/EventUser'
        debug_meta:
          $ref: '#/components/schemas/DebugMeta'
      required:
      - event_id
      title: EventIngestSchema
      type: object
    ValueEventBreadcrumb:
      properties:
        values:
          items:
            $ref: '#/components/schemas/EventBreadcrumb'
          title: Values
          type: array
      required:
      - values
      title: ValueEventBreadcrumb
      type: object
    SourceMapImage:
      properties:
        type:
          const: sourcemap
          title: Type
          type: string
        code_file:
          title: Code File
          type: string
        debug_id:
          format: uuid
          title: Debug Id
          type: string
      required:
      - type
      - code_file
      - debug_id
      title: SourceMapImage
      type: object
    EventBreadcrumb:
      properties:
        type:
          default: default
          title: Type
          type:
          - string
          - 'null'
        category:
          title: Category
          type:
          - string
          - 'null'
        message:
          title: Message
          type:
          - string
          - 'null'
        data:
          title: Data
          additionalProperties: true
          type:
          - object
          - 'null'
        level:
          default: info
          title: Level
          enum:
          - fatal
          - error
          - warning
          - info
          - debug
          type:
          - string
          - 'null'
        timestamp:
          title: Timestamp
          format: date-time
          type:
          - string
          - 'null'
      title: EventBreadcrumb
      type: object
    CloudResourceContext:
      properties:
        type:
          const: cloud_resource
          default: cloud_resource
          title: Type
          type: string
        cloud:
          additionalProperties: true
          title: Cloud
          type: object
        host:
          additionalProperties: true
          title: Host
          type: object
      required:
      - cloud
      - host
      title: CloudResourceContext
      type: object
    IngestValueEventException:
      properties:
        values:
          items:
            $ref: '#/components/schemas/IngestEventException'
          title: Values
          type: array
      required:
      - values
      title: IngestValueEventException
      type: object
    OSContext:
      properties:
        type:
          const: os
          default: os
          type: string
        name:
          type: string
        version:
          type:
          - string
          - 'null'
        build:
          type:
          - string
          - 'null'
        kernel_version:
          type:
          - string
          - 'null'
        rooted:
          type:
          - boolean
          - 'null'
        theme:
          type:
          - string
          - 'null'
        raw_description:
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    ValueEventThread:
      properties:
        values:
          items:
            $ref: '#/components/schemas/Thread'
          title: Values
          type: array
      required:
      - values
      title: ValueEventThread
      type: object
    GPUContext:
      properties:
        type:
          const: gpu
          default: gpu
          type: string
        name:
          type: string
        version:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        vendor_id:
          type:
          - string
          - 'null'
        vendor_name:
          type:
          - string
          - 'null'
        memory_size:
          type:
          - integer
          - 'null'
        api_type:
          type:
          - string
          - 'null'
        multi_threaded_rendering:
          type:
          - boolean
          - 'null'
        npot_support:
          type:
          - string
          - 'null'
        max_texture_size:
          type:
          - integer
          - 'null'
        graphics_shader_level:
          type:
          - string
          - 'null'
        supports_draw_call_instancing:
          type:
          - boolean
          - 'null'
        supports_ray_tracing:
          type:
          - boolean
          - 'null'
        supports_compute_shaders:
          type:
          - boolean
          - 'null'
        supports_geometry_shaders:
          type:
          - boolean
          - 'null'
      required:
      - name
      type: object
    DebugMeta:
      properties:
        images:
          items:
            anyOf:
            - discriminator:
                mapping:
                  elf: '#/components/schemas/NativeDebugImage'
                  jvm: '#/components/schemas/JvmDebugImage'
                  macho: '#/components/schemas/NativeDebugImage'
                  pe: '#/components/schemas/NativeDebugImage'
                  pe_dotnet: '#/components/schemas/NativeDebugImage'
                  sourcemap: '#/components/schemas/SourceMapImage'
                  wasm: '#/components/schemas/NativeDebugImage'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/SourceMapImage'
              - $ref: '#/components/schemas/JvmDebugImage'
              - $ref: '#/components/schemas/NativeDebugImage'
            - $ref: '#/components/schemas/OtherDebugImage'
          title: Images
          type: array
      required:
      - images
      title: DebugMeta
      type: object
    IngestEventException:
      properties:
        type:
          title: Type
          type:
          - string
          - 'null'
        value:
          title: Value
          type:
          - string
          - 'null'
        module:
          title: Module
          type:
          - string
          - 'null'
        thread_id:
          title: Thread Id
          type:
          - string
          - 'null'
        mechanism:
          $ref: '#/components/schemas/ExceptionMechanism'
        stacktrace:
          $ref: '#/components/schemas/StackTrace'
        raw_stacktrace:
          $ref: '#/components/schemas/StackTrace'
      title: IngestEventException
      type: object
    StackTrace:
      properties:
        frames:
          items:
            $ref: '#/components/schemas/StackTraceFrame'
          title: Frames
          type: array
        registers:
          title: Registers
          additionalProperties:
            type: string
          type:
          - object
          - 'null'
      required:
      - frames
      title: StackTrace
      type: object
    EventUser:
      properties:
        id:
          title: Id
          type:
          - string
          - 'null'
        username:
          title: Username
          type:
          - string
          - 'null'
        email:
          title: Email
          type:
          - string
          - 'null'
        ip_address:
          title: Ip Address
          type:
          - string
          - 'null'
        data:
          title: Data
          additionalProperties: true
          type:
          - object
          - 'null'
        geo:
          $ref: '#/components/schemas/EventGeo'
      title: EventUser
      type: object
    ClientSDKPackage:
      properties:
        name:
          title: Name
          type:
          - string
          - 'null'
        version:
          title: Version
          type:
          - string
          - 'null'
      title: ClientSDKPackage
      type: object
    StackTraceFrame:
      properties:
        filename:
          title: Filename
          type:
          - string
          - 'null'
        function:
          title: Function
          type:
          - string
          - 'null'
        raw_function:
          title: Raw Function
          type:
          - string
          - 'null'
        function_id:
          title: Function Id
          type:
          - string
          - 'null'
        symbol:
          title: Symbol
          type:
          - string
          - 'null'
        module:
          title: Module
          type:
          - string
          - 'null'
        lineno:
          title: Lineno
          type:
          - integer
          - 'null'
        colno:
          title: Colno
          type:
          - integer
          - 'null'
        abs_path:
          title: Abs Path
          type:
          - string
          - 'null'
        context_line:
          title: Context Line
          type:
          - string
          - 'null'
        pre_context:
          title: Pre Context
          items:
            type:
            - string
            - 'null'
          type:
          - array
          - 'null'
        post_context:
          title: Post Context
          items:
            type:
            - string
            - 'null'
          type:
          - array
          - 'null'
        source_link:
          title: Source Link
          type:
          - string
          - 'null'
        in_app:
          title: In App
          type:
          - boolean
          - 'null'
        stack_start:
          title: Stack Start
          type:
          - boolean
          - 'null'
        lock:
          $ref: '#/components/schemas/LockReason'
        vars:
          title: Vars
          additionalProperties:
            anyOf:
            - type: string
            - additionalProperties: true
              type: object
            - items: {}
              type: array
          type:
          - object
          - 'null'
        instruction_addr:
          title: Instruction Addr
          type:
          - string
          - 'null'
        addr_mode:
          title: Addr Mode
          type:
          - string
          - 'null'
        symbol_addr:
          title: Symbol Addr
          type:
          - string
          - 'null'
        image_addr:
          title: Image Addr
          type:
          - string
          - 'null'
        package:
          title: Package
          type:
          - string
          - 'null'
        platform:
          title: Platform
          type:
          - string
          - 'null'
      title: StackTraceFrame
      type: object
    IngestRequest:
      properties:
        api_target:
          title: Api Target
          type:
          - string
          - 'null'
        body_size:
          title: Body Size
          type:
          - integer
          - 'null'
        cookies:
          anyOf:
          - type: string
          - items:
              items:
                type:
                - string
                - 'null'
              type: array
            type: array
          - additionalProperties:
              type:
              - string
              - 'null'
            type: object
          title: Cookies
        data:
          anyOf:
          - type: string
          - additionalProperties: true
            type: object
          - items: {}
            type: array
          - {}
          title: Data
        env:
          title: Env
          additionalProperties: true
          type:
          - object
          - 'null'
        fragment:
          title: Fragment
          type:
          - string
          - 'null'
        method:
          title: Method
          type:
          - string
          - 'null'
        protocol:
          title: Protocol
          type:
          - string
          - 'null'
        url:
          title: Url
          type:
          - string
          - 'null'
        headers:
          anyOf:
          - items:
              items:
                type:
                - string
                - 'null'
              type: array
            type: array
          - additionalProperties:
              type:
              - string
              - 'null'
            type: object
          title: Headers
        query_string:
          anyOf:
          - type: string
          - items:
              items:
                type:
                - string
                - 'null'
              type: array
            type: array
          - additionalProperties:
              anyOf:
              - type: string
              - additionalProperties: true
                type: object
            type: object
          title: Query String
      title: IngestRequest
      type: object
    ExceptionMechanism:
      properties:
        type:
          title: Type
          type: string
        description:
          title: Description
          type:
          - string
          - 'null'
        help_link:
          title: Help Link
          type:
          - string
          - 'null'
        handled:
          title: Handled
          type:
          - boolean
          - 'null'
        synthetic:
          title: Synthetic
          type:
          - boolean
          - 'null'
        is_exception_group:
          title: Is Exception Group
          type:
          - boolean
          - 'null'
        parent_id:
          title: Parent Id
          type:
          - integer
          - 'null'
        source:
          title: Source
          type:
          - string
          - 'null'
        meta:
          title: Meta
          additionalProperties: true
          type:
          - object
          - 'null'
        data:
          title: Data
          additionalProperties: true
          type:
          - object
          - 'null'
      required:
      - type
      title: ExceptionMechanism
      type: object
    EventMessage:
      properties:
        formatted:
          default: ''
          maxLength: 8192
          title: Formatted
          type: string
        message:
          title: Message
          type:
          - string
          - 'null'
        params:
          anyOf:
          - items:
              type:
              - string
              - 'null'
            type: array
          - additionalProperties:
              type:
              - string
              - 'null'
            type: object
          title: Params
      title: EventMessage
      type: object
    DeviceContext:
      properties:
        type:
          const: device
          default: device
          type: string
        name:
          type:
          - string
          - 'null'
        family:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
        model_id:
          type:
          - string
          - 'null'
        arch:
          type:
          - string
          - 'null'
        battery_level:
          type:
          - number
          - 'null'
        orientation:
          type:
          - string
          - 'null'
        manufacturer:
          type:
          - string
          - 'null'
        brand:
          type:
          - string
          - 'null'
        screen_resolution:
          type:
          - string
          - 'null'
        screen_height_pixels:
          type:
          - integer
          - 'null'
        screen_width_pixels:
          type:
          - integer
          - 'null'
        screen_density:
          type:
          - number
          - 'null'
        screen_dpi:
          type:
          - number
          - 'null'
        online:
          type:
          - boolean
          - 'null'
        charging:
          type:
          - boolean
          - 'null'
        low_memory:
          type:
          - boolean
          - 'null'
        simulator:
          type:
          - boolean
          - 'null'
        memory_size:
          type:
          - integer
          - 'null'
        free_memory:
          type:
          - integer
          - 'null'
        usable_memory:
          type:
          - integer
          - 'null'
        storage_size:
          type:
          - integer
          - 'null'
        free_storage:
          type:
          - integer
          - 'null'
        external_storage_size:
          type:
          - integer
          - 'null'
        external_free_storage:
          type:
          - integer
          - 'null'
        boot_time:
          type:
          - string
          - 'null'
        timezone:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        processor_count:
          type:
          - integer
          - 'null'
        cpu_description:
          type:
          - string
          - 'null'
        processor_frequency:
          type:
          - number
          - 'null'
        device_type:
          type:
          - string
          - 'null'
        battery_status:
          type:
          - string
          - 'null'
        device_unique_identifier:
          type:
          - string
          - 'null'
        supports_vibration:
          type:
          - boolean
          - 'null'
        supports_accelerometer:
          type:
          - boolean
          - 'null'
        supports_gyroscope:
          type:
          - boolean
          - 'null'
        supports_audio:
          type:
          - boolean
          - 'null'
        supports_location_service:
          type:
          - boolean
          - 'null'
      type: object
    EventGeo:
      properties:
        city:
          title: City
          type:
          - string
          - 'null'
        country_code:
          title: Country Code
          type:
          - string
          - 'null'
        region:
          title: Region
          type:
          - string
          - 'null'
        subdivision:
          title: Subdivision
          type:
          - string
          - 'null'
      title: EventGeo
      type: object
    RuntimeContext:
      properties:
        type:
          const: runtime
          default: runtime
          type: string
        name:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
        raw_description:
          type:
          - string
          - 'null'
      type: object
    EventTemplate:
      properties:
        lineno:
          title: Lineno
          type: integer
        abs_path:
          title: Abs Path
          type:
          - string
          - 'null'
        filename:
          title: Filename
          type: string
        context_line:
          title: Context Line
          type: string
        pre_context:
          title: Pre Context
          items:
            type: string
          type:
          - array
          - 'null'
        post_context:
          title: Post Context
          items:
            type: string
          type:
          - array
          - 'null'
      required:
      - lineno
      - filename
      - context_line
      title: EventTemplate
      type: object
    NativeDebugImage:
      properties:
        type:
          enum:
          - macho
          - elf
          - pe
          - pe_dotnet
          - wasm
          title: Type
          type: string
        debug_id:
          title: Debug Id
          format: uuid
          type:
          - string
          - 'null'
        debug_checksum:
          title: Debug Checksum
          type:
          - string
          - 'null'
        image_addr:
          title: Image Addr
          type:
          - string
          - 'null'
        image_size:
          title: Image Size
          type:
          - integer
          - 'null'
        code_file:
          title: Code File
          type:
          - string
          - 'null'
        code_id:
          title: Code Id
          type:
          - string
          - 'null'
      required:
      - type
      title: NativeDebugImage
      type: object
    StateContext:
      properties:
        type:
          const: state
          default: state
          title: Type
          type: string
        state:
          additionalProperties: true
          title: State
          type: object
      required:
      - state
      title: StateContext
      type: object
    TraceContext:
      properties:
        type:
          const: trace
          default: trace
          type: string
        trace_id:
          type: string
        span_id:
          type: string
        parent_span_id:
          type:
          - string
          - 'null'
        op:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        exclusive_time:
          type:
          - number
          - 'null'
        client_sample_rate:
          type:
          - number
          - 'null'
        tags:
          anyOf:
          - additionalProperties: true
            type: object
          - items: {}
            type: array
        dynamic_sampling_context:
          additionalProperties: true
          type:
          - object
          - 'null'
        origin:
          type:
          - string
          - 'null'
      required:
      - trace_id
      - span_id
      type: object
    BrowserContext:
      properties:
        type:
          const: browser
          default: browser
          type: string
        name:
          type: string
        version:
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    EventIngestOut:
      properties:
        event_id:
          title: Event Id
          type: string
        task_id:
          title: Task Id
          type:
          - string
          - 'null'
      required:
      - event_id
      title: EventIngestOut
      type: object
    ResponseContext:
      properties:
        type:
          const: response
          default: response
          title: Type
          type: string
        status_code:
          title: Status Code
          type: integer
      required:
      - status_code
      title: ResponseContext
      type: object
    JvmDebugImage:
      properties:
        type:
          const: jvm
          title: Type
          type: string
        debug_id:
          format: uuid
          title: Debug Id
          type: string
      required:
      - type
      - debug_id
      title: JvmDebugImage
      type: object
    AppContext:
      properties:
        type:
          const: app
          default: app
          type: string
        app_start_time:
          type:
          - string
          - 'null'
        device_app_hash:
          type:
          - string
          - 'null'
        build_type:
          type:
          - string
          - 'null'
        app_identifier:
          type:
          - string
          - 'null'
        app_name:
          type:
          - string
          - 'null'
        app_version:
          type:
          - string
          - 'null'
        app_build:
          type:
          - string
          - 'null'
        app_memory:
          type:
          - integer
          - 'null'
        in_foreground:
          type:
          - boolean
          - 'null'
      type: object
    Thread:
      properties:
        id:
          anyOf:
          - type: integer
          - type: string
          title: Id
        current:
          title: Current
          type:
          - boolean
          - 'null'
        crashed:
          title: Crashed
          type:
          - boolean
          - 'null'
        name:
          title: Name
          type:
          - string
          - 'null'
        stacktrace:
          $ref: '#/components/schemas/StackTrace'
        raw_stacktrace:
          $ref: '#/components/schemas/StackTrace'
      title: Thread
      type: object
    OtherDebugImage:
      properties:
        type:
          title: Type
          type: string
      required:
      - type
      title: OtherDebugImage
      type: object
  securitySchemes:
    TokenAuth:
      type: http
      scheme: bearer
    SessionAuth:
      type: apiKey
      in: cookie
      name: sessionid
