openapi: 3.0.3
info:
  title: GlitchTip Accept Organizations API
  version: 1.0.0
  description: ''
  contact:
    email: sales@glitchtip.com
    url: https://glitchtip.com/
  license:
    name: MIT
  x-api-id: glitchtip
servers:
- url: https://app.glitchtip.com
  description: GlitchTip production server
tags:
- name: Organizations
paths:
  /api/0/organizations/{organization_slug}/environments/:
    get:
      operationId: apps_environments_api_list_environments
      summary: List Environments
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: visibility
        schema:
          default: visible
          enum:
          - all
          - hidden
          - visible
          title: Visibility
          type: string
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EnvironmentSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/chunk-upload/:
    get:
      operationId: apps_files_api_get_chunk_upload_info
      summary: Get Chunk Upload Info
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
      description: Get server settings for chunk file upload
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_files_api_chunk_upload
      summary: Chunk Upload
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
      description: Upload one more more gzipped files to save
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file_gzip:
                  items:
                    format: binary
                    type: string
                  title: File Gzip
                  type: array
              required:
              - file_gzip
              title: FileParams
              type: object
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/logs/:
    get:
      operationId: apps_logs_api_list_logs
      summary: List Logs
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: project
        schema:
          description: Filter by project IDs
          title: Project
          nullable: true
          items:
            type: integer
          type: array
        required: false
        description: Filter by project IDs
      - in: query
        name: level
        schema:
          description: Filter by log levels
          title: Level
          nullable: true
          items:
            type: string
          type: array
        required: false
        description: Filter by log levels
      - in: query
        name: service
        schema:
          description: Filter by service name
          title: Service
          nullable: true
          type: string
        required: false
        description: Filter by service name
      - in: query
        name: environment
        schema:
          description: Filter by environment
          title: Environment
          nullable: true
          type: string
        required: false
        description: Filter by environment
      - in: query
        name: host
        schema:
          description: Filter by host name
          title: Host
          nullable: true
          type: string
        required: false
        description: Filter by host name
      - in: query
        name: traceId
        schema:
          description: Filter by trace ID
          title: Traceid
          nullable: true
          type: string
        required: false
        description: Filter by trace ID
      - in: query
        name: query
        schema:
          description: Search in log body
          title: Query
          nullable: true
          type: string
        required: false
        description: Search in log body
      - in: query
        name: start
        schema:
          description: Start of time range
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
        description: Start of time range
      - in: query
        name: end
        schema:
          description: End of time range
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
        description: End of time range
      - in: query
        name: cursor
        schema:
          description: Pagination cursor
          title: Cursor
          nullable: true
          type: string
        required: false
        description: Pagination cursor
      - in: query
        name: limit
        schema:
          default: 100
          description: Results per page
          maximum: 200
          minimum: 1
          title: Limit
          type: integer
        required: false
        description: Results per page
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LogEventSchema'
                title: Response
                type: array
      description: 'List log events for an organization with optional filtering.


        Queries hot storage (PostgreSQL) for recent data and cold storage

        (S3 Parquet via DuckDB) for older data seamlessly.


        Supports filtering by:

        - project: List of project IDs

        - level: List of log levels (trace, debug, info, warn, error, fatal)

        - service: Service name (exact match)

        - environment: Environment name (exact match)

        - host: Host name (exact match)

        - traceId: Trace ID for correlation

        - query: Full-text search in log body

        - start/end: Time range filtering (defaults to last 7 days)

        - cursor: Pagination cursor for "load more"

        - limit: Results per page (1-200, default 100)'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/logs/{log_id}/:
    get:
      operationId: apps_logs_api_get_log
      summary: Get Log
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: log_id
        schema:
          format: uuid
          title: Log Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogEventSchema'
      description: Get a single log event by ID (searches both hot and cold storage).
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/logs/stats/:
    get:
      operationId: apps_logs_api_get_log_stats
      summary: Get Log Stats
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: project
        schema:
          description: Filter by project IDs
          title: Project
          nullable: true
          items:
            type: integer
          type: array
        required: false
        description: Filter by project IDs
      - in: query
        name: level
        schema:
          description: Filter by log levels
          title: Level
          nullable: true
          items:
            type: string
          type: array
        required: false
        description: Filter by log levels
      - in: query
        name: service
        schema:
          description: Filter by service names
          title: Service
          nullable: true
          items:
            type: string
          type: array
        required: false
        description: Filter by service names
      - in: query
        name: environment
        schema:
          description: Filter by environment names
          title: Environment
          nullable: true
          items:
            type: string
          type: array
        required: false
        description: Filter by environment names
      - in: query
        name: start
        schema:
          description: Start of time range
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
        description: Start of time range
      - in: query
        name: end
        schema:
          description: End of time range
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
        description: End of time range
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStatsSchema'
      description: 'Get log statistics for an organization.


        Returns hourly counts grouped by level for charting.

        Supports filtering by project and level.

        Time range defaults to last 7 days, max 90 days.'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/logs/resources/:
    get:
      operationId: apps_logs_api_list_log_resources
      summary: List Log Resources
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: resource_type
        schema:
          title: Resource Type
          nullable: true
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LogResourceSchema'
                title: Response
                type: array
      description: 'List unique resource names (service, environment, host) for an organization.


        Returns resources ordered by last_seen (most recent first).

        Used to populate filter dropdowns in the UI.'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/:
    get:
      operationId: apps_organizations_ext_api_list_organizations
      summary: List Organizations
      parameters:
      - in: query
        name: owner
        schema:
          title: Owner
          nullable: true
          type: boolean
        required: false
      - in: query
        name: query
        schema:
          title: Query
          nullable: true
          type: string
        required: false
      - in: query
        name: sortBy
        schema:
          title: Sortby
          nullable: true
          type: string
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationSchema'
                title: Response
                type: array
      description: Return list of all organizations the user has access to.
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_organizations_ext_api_create_organization
      summary: Create Organization
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetailSchema'
      description: 'Create new organization

        The first organization on a server is always allowed to be created.

        Afterwards, ENABLE_OPEN_USER_REGISTRATION is checked.

        Superusers are always allowed to create organizations.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInSchema'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/:
    get:
      operationId: apps_organizations_ext_api_get_organization
      summary: Get Organization
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetailSchema'
      description: Return Organization with project and team details.
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    put:
      operationId: apps_organizations_ext_api_update_organization
      summary: Update Organization
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetailSchema'
      description: Update an organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInSchema'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    delete:
      operationId: apps_organizations_ext_api_delete_organization
      summary: Delete Organization
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/members/:
    get:
      operationId: apps_organizations_ext_api_list_organization_members
      summary: List Organization Members
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationUserSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_organizations_ext_api_create_organization_member
      summary: Create Organization Member
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserInviteSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUserIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/members/{member_id}/:
    get:
      operationId: apps_organizations_ext_api_get_organization_member
      summary: Get Organization Member
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: member_id
        schema:
          title: Member Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserDetailSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    delete:
      operationId: apps_organizations_ext_api_delete_organization_member
      summary: Delete Organization Member
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: member_id
        schema:
          title: Member Id
          type: integer
        required: true
      responses:
        '204':
          description: No Content
      description: Remove member (user) from organization
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    put:
      operationId: apps_organizations_ext_api_update_organization_member
      summary: Update Organization Member
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: member_id
        schema:
          title: Member Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserDetailSchema'
      description: Update member role within organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUserUpdateSchema'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/members/{member_id}/set_owner/:
    post:
      operationId: apps_organizations_ext_api_set_organization_owner
      summary: Set Organization Owner
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: member_id
        schema:
          title: Member Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserDetailSchema'
      description: 'Set this team member as the one and only one Organization owner

        Only an existing Owner or user with the "org:admin" scope is able to perform this.

        GlitchTip specific API, no sentry api compatibility'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/transaction-groups/:
    get:
      operationId: apps_performance_api_list_transaction_groups
      summary: List Transaction Groups
      parameters:
      - in: query
        name: start
        schema:
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: end
        schema:
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: sort
        schema:
          default: -avg_duration
          enum:
          - created
          - -created
          - avg_duration
          - -avg_duration
          - count
          - -count
          title: Sort
          type: string
        required: false
      - in: query
        name: project
        schema:
          default: []
          items:
            type: integer
          title: Project
          type: array
        required: false
      - in: query
        name: query
        schema:
          title: Query
          nullable: true
          type: string
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransactionGroupSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/transaction-groups/{id}/:
    get:
      operationId: apps_performance_api_get_transaction_group
      summary: Get Transaction Group
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: id
        schema:
          title: Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionGroupSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/transaction-groups/{id}/spans/:
    get:
      operationId: apps_performance_api_list_transaction_spans
      summary: List Transaction Spans
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: id
        schema:
          title: Id
          type: integer
        required: true
      - in: query
        name: start
        schema:
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: end
        schema:
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SpanGroupSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/span-groups/:
    get:
      operationId: apps_performance_api_list_span_groups
      summary: List Span Groups
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: start
        schema:
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: end
        schema:
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: project
        schema:
          default: []
          items:
            type: integer
          title: Project
          type: array
        required: false
      - in: query
        name: op
        schema:
          title: Op
          nullable: true
          type: string
        required: false
      - in: query
        name: sort
        schema:
          default: -total_time
          enum:
          - total_time
          - -total_time
          - avg_duration
          - -avg_duration
          - count
          - -count
          title: Sort
          type: string
        required: false
      - in: query
        name: limit
        schema:
          default: 50
          title: Limit
          type: integer
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SpanGroupSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/n-plus-one/:
    get:
      operationId: apps_performance_api_list_n_plus_one_patterns
      summary: List N Plus One Patterns
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: start
        schema:
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: end
        schema:
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: project
        schema:
          default: []
          items:
            type: integer
          title: Project
          type: array
        required: false
      - in: query
        name: op
        schema:
          default: db
          title: Op
          nullable: true
          type: string
        required: false
      - in: query
        name: threshold
        schema:
          default: 5.0
          title: Threshold
          type: number
        required: false
      - in: query
        name: limit
        schema:
          default: 50
          title: Limit
          type: integer
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NPlusOnePatternSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/transaction-groups/{id}/trend/:
    get:
      operationId: apps_performance_api_get_transaction_trend
      summary: Get Transaction Trend
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: id
        schema:
          title: Id
          type: integer
        required: true
      - in: query
        name: start
        schema:
          title: Start
          nullable: true
          format: date-time
          type: string
        required: false
      - in: query
        name: end
        schema:
          title: End
          nullable: true
          format: date-time
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransactionTrendSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/projects/:
    get:
      operationId: apps_projects_api_list_organization_projects
      summary: List Organization Projects
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: query
        schema:
          title: Query
          nullable: true
          type: string
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectTeamSchema'
                title: Response
                type: array
      description: 'Fetch list of organizations for a project

        Contains team information

        query: Filter on team, ex: ?query=!team:burke-software'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/stats_v2/:
    get:
      operationId: apps_stats_api_stats_v2
      summary: Stats V2
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: category
        schema:
          enum:
          - error
          - transaction
          title: Category
          type: string
        required: true
      - in: query
        name: interval
        schema:
          default: 1h
          title: Interval
          nullable: true
          enum:
          - 1d
          - 1h
          - 1m
          type: string
        required: false
      - in: query
        name: project
        schema:
          title: Project
          nullable: true
          items:
            minimum: -1
            type: integer
          type: array
        required: false
      - in: query
        name: field
        schema:
          enum:
          - sum(quantity)
          - sum(times_seen)
          title: Field
          type: string
        required: true
      - in: query
        name: start
        schema:
          format: date-time
          title: Start
          type: string
        required: true
      - in: query
        name: end
        schema:
          format: date-time
          title: End
          type: string
        required: true
      responses:
        '200':
          description: OK
      description: 'Reverse engineered stats v2 endpoint. Endpoint in sentry not documented.

        Appears similar to documented sessions endpoint.

        Used by the Sentry Grafana integration.


        Used to return time series statistics.

        Submit query params start, end, and interval (defaults to 1h)

        Limits results to 1000 intervals. For example if using hours, max days would be 41'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/repos/:
    get:
      operationId: apps_sourcecode_api_list_repositories
      summary: List Repositories
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RepositorySchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_sourcecode_api_create_repository
      summary: Create Repository
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositorySchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/artifactbundle/assemble/:
    post:
      operationId: apps_sourcecode_api_artifact_bundle_assemble
      summary: Artifact Bundle Assemble
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
      description: Associate files with assembly bundle and optionally release
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactBundleAssembleIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/teams/:
    get:
      operationId: apps_teams_api_list_teams
      summary: List Teams
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamProjectSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_teams_api_create_team
      summary: Create Team
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamProjectSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/members/{member_id}/teams/{team_slug}/:
    post:
      operationId: apps_teams_api_add_member_to_team
      summary: Add Member To Team
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: member_id
        schema:
          anyOf:
          - const: me
            type: string
          - type: integer
          title: Member Id
        required: true
      - in: path
        name: team_slug
        schema:
          title: Team Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamProjectSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    delete:
      operationId: apps_teams_api_delete_member_from_team
      summary: Delete Member From Team
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: member_id
        schema:
          anyOf:
          - const: me
            type: string
          - type: integer
          title: Member Id
        required: true
      - in: path
        name: team_slug
        schema:
          title: Team Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamProjectSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/heartbeat_check/{endpoint_id}/:
    post:
      operationId: apps_uptime_api_heartbeat_check
      summary: Heartbeat Check
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: endpoint_id
        schema:
          format: uuid
          title: Endpoint Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorCheckSchema'
      description: 'Heartbeat monitors allow an external service to contact this endpoint

        when the service is up.'
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/monitors/:
    get:
      operationId: apps_uptime_api_list_monitors
      summary: List Monitors
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MonitorSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_uptime_api_create_monitor
      summary: Create Monitor
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/monitors/{monitor_id}/:
    get:
      operationId: apps_uptime_api_get_monitor
      summary: Get Monitor
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: monitor_id
        schema:
          title: Monitor Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorDetailSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    put:
      operationId: apps_uptime_api_update_monitor
      summary: Update Monitor
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: monitor_id
        schema:
          title: Monitor Id
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    delete:
      operationId: apps_uptime_api_delete_monitor
      summary: Delete Monitor
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: monitor_id
        schema:
          title: Monitor Id
          type: integer
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/monitors/{monitor_id}/checks/:
    get:
      operationId: apps_uptime_api_list_monitor_checks
      summary: List Monitor Checks
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: monitor_id
        schema:
          title: Monitor Id
          type: integer
        required: true
      - in: query
        name: is_change
        schema:
          title: Is Change
          nullable: true
          type: boolean
        required: false
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MonitorCheckResponseTimeSchema'
                title: Response
                type: array
      description: 'List checks performed for a monitor

        Set is_change query param to True to show only changes,

        This is useful to see only when a service went up and down.'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/status-pages/:
    get:
      operationId: apps_uptime_api_list_status_pages
      summary: List Status Pages
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StatusPageSchema'
                title: Response
                type: array
      description: List status pages, used for showing the current status of an uptime monitor
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    post:
      operationId: apps_uptime_api_create_status_page
      summary: Create Status Page
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusPageIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/:
    post:
      operationId: apps_releases_api_create_release
      summary: Create Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    get:
      operationId: apps_releases_api_list_releases
      summary: List Releases
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReleaseSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/{version}/:
    get:
      operationId: apps_releases_api_get_release
      summary: Get Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    put:
      operationId: apps_releases_api_update_release
      summary: Update Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseUpdate'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    delete:
      operationId: apps_releases_api_delete_organization_release
      summary: Delete Organization Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/{version}/files/:
    get:
      operationId: apps_releases_api_list_release_files
      summary: List Release Files
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          nullable: true
          type: integer
        required: false
        description: Number of results to return per page.
      - in: query
        name: cursor
        schema:
          description: The pagination cursor value.
          title: Cursor
          nullable: true
          type: string
        required: false
        description: The pagination cursor value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DebugSymbolBundleSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/{version}/files/{file_id}/:
    get:
      operationId: apps_releases_api_get_organization_release_file
      summary: Get Organization Release File
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      - in: path
        name: file_id
        schema:
          title: File Id
          type: integer
        required: true
      - in: query
        name: project_slug
        schema:
          title: Project Slug
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebugSymbolBundleSchema'
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    delete:
      operationId: apps_releases_api_delete_organization_release_file
      summary: Delete Organization Release File
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      - in: path
        name: file_id
        schema:
          title: File Id
          type: integer
        required: true
      responses:
        '204':
          description: No Content
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/{version}/deploys/:
    post:
      operationId: apps_releases_api_create_deploy
      summary: Create Deploy
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploySchema'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployIn'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    get:
      operationId: apps_releases_api_list_deploys
      summary: List Deploys
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploySchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/{version}/commits/:
    post:
      operationId: apps_releases_api_create_commits
      summary: Create Commits
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSchema'
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CommitIn'
              title: Payload
              type: array
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
    get:
      operationId: apps_releases_api_list_commits
      summary: List Commits
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CommitSchema'
                title: Response
                type: array
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
  /api/0/organizations/{organization_slug}/releases/{version}/assemble/:
    post:
      operationId: apps_releases_api_assemble_release
      summary: Assemble Release
      parameters:
      - in: path
        name: organization_slug
        schema:
          title: Organization Slug
          type: string
        required: true
      - in: path
        name: version
        schema:
          title: Version
          type: string
        required: true
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssembleSchema'
        required: true
      security:
      - TokenAuth: []
      - SessionAuth: []
      tags:
      - Organizations
components:
  schemas:
    MonitorDetailSchema:
      properties:
        projectID:
          title: Projectid
          nullable: true
          type: string
        environmentID:
          title: Environmentid
          nullable: true
          type: integer
        isUp:
          title: Isup
          nullable: true
          type: boolean
        lastChange:
          title: Lastchange
          nullable: true
          type: string
        heartbeatEndpoint:
          title: Heartbeatendpoint
          nullable: true
          type: string
        projectName:
          title: Projectname
          nullable: true
          type: string
        envName:
          title: Envname
          nullable: true
          type: string
        checks:
          items:
            $ref: '#/components/schemas/MonitorCheckResponseTimeSchema'
          title: Checks
          type: array
        organizationID:
          title: Organizationid
          type: integer
        monitorType:
          $ref: '#/components/schemas/MonitorType'
        id:
          title: ID
          nullable: true
          type: integer
        endpointID:
          description: Used for referencing heartbeat endpoint
          title: Endpoint Id
          nullable: true
          format: uuid
          type: string
        created:
          format: date-time
          title: Created
          type: string
        name:
          maxLength: 200
          title: Name
          type: string
        url:
          title: Url
          nullable: true
          maxLength: 2000
          type: string
        expectedStatus:
          default: 200
          title: Expected Status
          nullable: true
          type: integer
        expectedBody:
          title: Expected Body
          nullable: true
          maxLength: 2000
          type: string
        interval:
          default: 60
          title: Interval
          type: integer
        timeout:
          description: Blank implies default value of 20
          title: Timeout
          nullable: true
          type: integer
      required:
      - projectID
      - environmentID
      - isUp
      - lastChange
      - heartbeatEndpoint
      - checks
      - organizationID
      - monitorType
      - created
      - name
      title: MonitorDetailSchema
      type: object
    TeamRole:
      properties:
        teamSlug:
          title: Teamslug
          type: string
        role:
          default: ''
          title: Role
          type: string
      required:
      - teamSlug
      title: TeamRole
      type: object
    NameSlugProjectSchema:
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
      required:
      - name
      title: NameSlugProjectSchema
      type: object
    SocialAccountSchema:
      properties:
        email:
          title: Email
          nullable: true
          format: email
          type: string
        username:
          title: Username
          nullable: true
          type: string
        id:
          title: ID
          nullable: true
          type: integer
        provider:
          maxLength: 200
          title: Provider
          type: string
        uid:
          maxLength: 191
          title: Uid
          type: string
        lastLogin:
          format: date-time
          title: Last Login
          type: string
        dateJoined:
          format: date-time
          title: Date Joined
          type: string
      required:
      - email
      - username
      - provider
      - uid
      - lastLogin
      - dateJoined
      title: SocialAccountSchema
      type: object
    MonitorIn:
      properties:
        expectedBody:
          title: Expectedbody
          type: string
        expectedStatus:
          title: Expectedstatus
          nullable: true
          type: integer
        timeout:
          title: Timeout
          nullable: true
          maximum: 60
          minimum: 1
          type: integer
        project:
          title: Project
          nullable: true
          type: string
        monitorType:
          default: Ping
          maxLength: 12
          title: Monitor Type
          type: string
        name:
          maxLength: 200
          title: Name
          type: string
        url:
          title: Url
          nullable: true
          maxLength: 2000
          type: string
        interval:
          default: 60
          title: Interval
          type: integer
      required:
      - expectedBody
      - expectedStatus
      - timeout
      - name
      title: MonitorIn
      type: object
    RepositoryIn:
      properties:
        name:
          title: Name
          type: string
        url:
          default: ''
          title: Url
          type: string
        provider:
          title: Provider
          nullable: true
          additionalProperties: true
          type: object
      required:
      - name
      title: RepositoryIn
      type: object
    TeamSchema:
      properties:
        id:
          title: Id
          type: string
        slug:
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
          title: Slug
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        isMember:
          title: Ismember
          type: boolean
        memberCount:
          title: Membercount
          type: integer
      required:
      - id
      - slug
      - dateCreated
      - isMember
      - memberCount
      title: TeamSchema
      type: object
    RepositorySchema:
      properties:
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        name:
          maxLength: 200
          title: Name
          type: string
        url:
          default: ''
          title: Url
          nullable: true
          type: string
        status:
          default: active
          maxLength: 24
          title: Status
          type: string
        provider:
          title: Provider
          nullable: true
          type: object
      required:
      - id
      - dateCreated
      - name
      title: RepositorySchema
      type: object
    MonitorSchema:
      properties:
        projectID:
          title: Projectid
          nullable: true
          type: string
        environmentID:
          title: Environmentid
          nullable: true
          type: integer
        isUp:
          title: Isup
          nullable: true
          type: boolean
        lastChange:
          title: Lastchange
          nullable: true
          type: string
        heartbeatEndpoint:
          title: Heartbeatendpoint
          nullable: true
          type: string
        projectName:
          title: Projectname
          nullable: true
          type: string
        envName:
          title: Envname
          nullable: true
          type: string
        checks:
          items:
            $ref: '#/components/schemas/MonitorCheckSchema'
          title: Checks
          type: array
        organizationID:
          title: Organizationid
          type: integer
        monitorType:
          $ref: '#/components/schemas/MonitorType'
        id:
          title: ID
          nullable: true
          type: integer
        endpointID:
          description: Used for referencing heartbeat endpoint
          title: Endpoint Id
          nullable: true
          format: uuid
          type: string
        created:
          format: date-time
          title: Created
          type: string
        name:
          maxLength: 200
          title: Name
          type: string
        url:
          title: Url
          nullable: true
          maxLength: 2000
          type: string
        expectedStatus:
          default: 200
          title: Expected Status
          nullable: true
          type: integer
        expectedBody:
          title: Expected Body
          nullable: true
          maxLength: 2000
          type: string
        interval:
          default: 60
          title: Interval
          type: integer
        timeout:
          description: Blank implies default value of 20
          title: Timeout
          nullable: true
          type: integer
      required:
      - projectID
      - environmentID
      - isUp
      - lastChange
      - heartbeatEndpoint
      - checks
      - organizationID
      - monitorType
      - created
      - name
      title: MonitorSchema
      type: object
    StatusPageSchema:
      properties:
        isPublic:
          description: When true, the status page URL is publicly accessible
          title: Is Public
          type: boolean
        name:
          maxLength: 200
          title: Name
          type: string
        monitors:
          items:
            $ref: '#/components/schemas/MonitorSchema'
          title: Monitors
          type: array
        slug:
          title: Slug
          nullable: true
          maxLength: 200
          type: string
      required:
      - isPublic
      - name
      - monitors
      title: StatusPageSchema
      type: object
    EnvironmentSchema:
      properties:
        id:
          title: ID
          nullable: true
          type: integer
        name:
          maxLength: 255
          title: Name
          type: string
      required:
      - name
      title: EnvironmentSchema
      type: object
    LogResourceSchema:
      description: Schema for resource name in list.
      properties:
        name:
          title: Name
          type: string
        type:
          title: Type
          type: string
        lastSeen:
          format: date-time
          title: Lastseen
          type: string
      required:
      - name
      - type
      - lastSeen
      title: LogResourceSchema
      type: object
    OrganizationUserInviteSchema:
      description: 'Response for the invite (member create) endpoint.


        Surfaces the acceptance link so the frontend can offer a copy-link invite

        flow. This is the only delivery path when email is disabled, and a harmless

        convenience when email works. The link carries the same time-limited token

        the invite email uses, so possessing it is what grants acceptance.'
      properties:
        id:
          title: Id
          type: string
        role:
          enum:
          - member
          - admin
          - manager
          - owner
          title: Role
          type: string
        roleName:
          title: Rolename
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        email:
          title: Email
          type: string
        user:
          nullable: true
          $ref: '#/components/schemas/UserSchema'
        pending:
          title: Pending
          type: boolean
        isOwner:
          title: Isowner
          type: boolean
        inviteLink:
          title: Invitelink
          nullable: true
          type: string
      required:
      - id
      - role
      - roleName
      - dateCreated
      - email
      - pending
      - isOwner
      title: OrganizationUserInviteSchema
      type: object
    UserSchema:
      properties:
        id:
          title: Id
          type: string
        options:
          $ref: '#/components/schemas/UserOptions'
        username:
          format: email
          title: Username
          type: string
        dateJoined:
          format: date-time
          title: Datejoined
          type: string
        email:
          format: email
          title: Email
          type: string
        hasPasswordAuth:
          title: Haspasswordauth
          type: boolean
        identities:
          items:
            $ref: '#/components/schemas/SocialAccountSchema'
          title: Identities
          type: array
        lastLogin:
          title: Last Login
          nullable: true
          format: date-time
          type: string
        isSuperuser:
          default: false
          description: Designates that this user has all permissions without explicitly assigning them.
          title: Superuser Status
          type: boolean
        isActive:
          default: true
          description: Designates whether this user should be treated as active. Unselect this instead of deleting accounts.
          title: Active
          type: boolean
        name:
          title: Name
          nullable: true
          maxLength: 255
          type: string
      required:
      - id
      - options
      - username
      - dateJoined
      - email
      - hasPasswordAuth
      - identities
      title: UserSchema
      type: object
    OrganizationUserSchema:
      properties:
        id:
          title: Id
          type: string
        role:
          enum:
          - member
          - admin
          - manager
          - owner
          title: Role
          type: string
        roleName:
          title: Rolename
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        email:
          title: Email
          type: string
        user:
          nullable: true
          $ref: '#/components/schemas/UserSchema'
        pending:
          title: Pending
          type: boolean
        isOwner:
          title: Isowner
          type: boolean
      required:
      - id
      - role
      - roleName
      - dateCreated
      - email
      - pending
      - isOwner
      title: OrganizationUserSchema
      type: object
    TeamIn:
      properties:
        slug:
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
          title: Slug
          type: string
      required:
      - slug
      title: TeamIn
      type: object
    DeploySchema:
      properties:
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        dateStarted:
          title: Datestarted
          nullable: true
          format: date-time
          type: string
        dateFinished:
          title: Datefinished
          nullable: true
          format: date-time
          type: string
        id:
          title: ID
          nullable: true
          type: integer
        environment:
          maxLength: 64
          title: Environment
          type: string
        url:
          default: ''
          title: Url
          nullable: true
          maxLength: 200
          type: string
      required:
      - dateCreated
      - dateStarted
      - dateFinished
      - environment
      title: DeploySchema
      type: object
    MonitorCheckSchema:
      properties:
        isUp:
          title: Is Up
          type: boolean
        startCheck:
          description: Time when the start of this check was performed
          format: date-time
          title: Start Check
          type: string
        reason:
          default: 0
          title: Reason
          nullable: true
          type: integer
      required:
      - isUp
      title: MonitorCheckSchema
      type: object
    MonitorCheckResponseTimeSchema:
      description: Monitor check with response time. Used in Monitors detail api and monitor checks list
      properties:
        isUp:
          title: Is Up
          type: boolean
        startCheck:
          description: Time when the start of this check was performed
          format: date-time
          title: Start Check
          type: string
        reason:
          default: 0
          title: Reason
          nullable: true
          type: integer
        responseTime:
          description: Reponse time in milliseconds
          title: Response Time
          nullable: true
          type: integer
      required:
      - isUp
      title: MonitorCheckResponseTimeSchema
      type: object
    ReleaseSchema:
      properties:
        ref:
          title: Ref
          nullable: true
          type: string
        dateReleased:
          title: Datereleased
          nullable: true
          format: date-time
          type: string
        version:
          maxLength: 255
          title: Version
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        shortVersion:
          title: Shortversion
          type: string
        projects:
          items:
            $ref: '#/components/schemas/NameSlugProjectSchema'
          title: Projects
          type: array
        repository:
          nullable: true
          $ref: '#/components/schemas/ReleaseRepositorySchema'
        url:
          title: Url
          nullable: true
          type: string
        data:
          title: Data
          type: object
        commitCount:
          default: 0
          title: Commit Count
          type: integer
        deployCount:
          default: 0
          title: Deploy Count
          type: integer
      required:
      - dateReleased
      - version
      - dateCreated
      - shortVersion
      - projects
      title: ReleaseSchema
      type: object
    LogStatsSchema:
      description: Schema for log stats response.
      properties:
        intervals:
          items:
            format: date-time
            type: string
          title: Intervals
          type: array
        series:
          items:
            $ref: '#/components/schemas/LogStatsSeriesSchema'
          title: Series
          type: array
      required:
      - intervals
      - series
      title: LogStatsSchema
      type: object
    DeployIn:
      properties:
        environment:
          title: Environment
          type: string
        url:
          default: ''
          title: Url
          type: string
        dateStarted:
          title: Datestarted
          nullable: true
          format: date-time
          type: string
        dateFinished:
          title: Datefinished
          nullable: true
          format: date-time
          type: string
      required:
      - environment
      title: DeployIn
      type: object
    LogStatsSeriesSchema:
      description: A single series in the stats response.
      properties:
        name:
          title: Name
          type: string
        data:
          items:
            type: integer
          title: Data
          type: array
      required:
      - name
      - data
      title: LogStatsSeriesSchema
      type: object
    ArtifactBundleAssembleIn:
      properties:
        checksum:
          pattern: ^[0-9a-fA-F]{40}$
          title: Checksum
          type: string
        chunks:
          items:
            pattern: ^[0-9a-fA-F]{40}$
            type: string
          title: Chunks
          type: array
        projects:
          items:
            type: string
          title: Projects
          type: array
        version:
          title: Version
          nullable: true
          type: string
      required:
      - checksum
      - chunks
      - projects
      title: ArtifactBundleAssembleIn
      type: object
    MonitorType:
      enum:
      - Ping
      - GET
      - POST
      - TCP Port
      - SSL
      - Heartbeat
      title: MonitorType
      type: string
    TeamProjectSchema:
      description: TeamSchema with related projects
      properties:
        id:
          title: Id
          type: string
        slug:
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
          title: Slug
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        isMember:
          title: Ismember
          type: boolean
        memberCount:
          title: Membercount
          type: integer
        projects:
          default: []
          items:
            $ref: '#/components/schemas/ProjectSchema'
          title: Projects
          type: array
      required:
      - id
      - slug
      - dateCreated
      - isMember
      - memberCount
      title: TeamProjectSchema
      type: object
    ReleaseIn:
      properties:
        ref:
          title: Ref
          nullable: true
          type: string
        dateReleased:
          title: Datereleased
          nullable: true
          format: date-time
          type: string
        version:
          title: Version
          type: string
        projects:
          items:
            type: string
          title: Projects
          type: array
      required:
      - version
      - projects
      title: ReleaseIn
      type: object
    OrganizationUserUpdateSchema:
      properties:
        orgRole:
          enum:
          - member
          - admin
          - manager
          - owner
          title: Orgrole
          type: string
        teamRoles:
          items:
            $ref: '#/components/schemas/TeamRole'
          title: Teamroles
          type: array
      required:
      - orgRole
      title: OrganizationUserUpdateSchema
      type: object
    TeamSlugSchema:
      description: Used in relations including organization projects
      properties:
        id:
          title: Id
          type: string
        slug:
          title: Slug
          type: string
      required:
      - id
      - slug
      title: TeamSlugSchema
      type: object
    ReleaseRepositorySchema:
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
      required:
      - id
      - name
      title: ReleaseRepositorySchema
      type: object
    OrganizationUserDetailSchema:
      properties:
        id:
          title: Id
          type: string
        role:
          enum:
          - member
          - admin
          - manager
          - owner
          title: Role
          type: string
        roleName:
          title: Rolename
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        email:
          title: Email
          type: string
        user:
          nullable: true
          $ref: '#/components/schemas/UserSchema'
        pending:
          title: Pending
          type: boolean
        isOwner:
          title: Isowner
          type: boolean
        teams:
          items:
            type: string
          title: Teams
          type: array
      required:
      - id
      - role
      - roleName
      - dateCreated
      - email
      - pending
      - isOwner
      - teams
      title: OrganizationUserDetailSchema
      type: object
    AssembleSchema:
      properties:
        checksum:
          title: Checksum
          type: string
        chunks:
          items:
            type: string
          title: Chunks
          type: array
      required:
      - checksum
      - chunks
      title: AssembleSchema
      type: object
    OrganizationDetailSchema:
      properties:
        name:
          description: The name of the organization
          maxLength: 200
          title: Name
          type: string
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        status:
          additionalProperties:
            type: string
          default:
            id: active
            name: active
          title: Status
          type: object
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        isEarlyAdopter:
          default: false
          title: Isearlyadopter
          type: boolean
        require2fa:
          default: false
          title: Require2Fa
          type: boolean
        slug:
          description: The name in all lowercase, suitable for URL identification
          maxLength: 200
          title: Slug
          type: string
        isAcceptingEvents:
          default: true
          description: Used for throttling at org level
          title: Is Accepting Events
          type: boolean
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
        projects:
          items:
            $ref: '#/components/schemas/ProjectTeamSchema'
          title: Projects
          type: array
        teams:
          items:
            $ref: '#/components/schemas/TeamSchema'
          title: Teams
          type: array
        access:
          items:
            enum:
            - org:read
            - org:write
            - org:admin
            - org:integrations
            - member:read
            - member:write
            - member:admin
            - team:read
            - team:write
            - team:admin
            - project:read
            - project:write
            - project:admin
            - project:releases
            - event:read
            - event:write
            - event:admin
            type: string
          title: Access
          type: array
        openMembership:
          default: true
          description: Allow any organization member to join any team
          title: Open Membership
          type: boolean
      required:
      - name
      - id
      - dateCreated
      - slug
      - projects
      - teams
      - access
      title: OrganizationDetailSchema
      type: object
    ReleaseUpdate:
      properties:
        ref:
          title: Ref
          nullable: true
          type: string
        dateReleased:
          title: Datereleased
          nullable: true
          format: date-time
          type: string
      title: ReleaseUpdate
      type: object
    SpanGroupSchema:
      properties:
        op:
          title: Op
          type: string
        description:
          title: Description
          type: string
        count:
          title: Count
          type: integer
        avgDuration:
          title: Avgduration
          type: number
        p95Duration:
          title: P95Duration
          type: number
        totalTime:
          title: Totaltime
          type: number
      required:
      - op
      - description
      - count
      - avgDuration
      - p95Duration
      - totalTime
      title: SpanGroupSchema
      type: object
    NPlusOnePatternSchema:
      properties:
        transactionName:
          title: Transactionname
          type: string
        op:
          title: Op
          type: string
        description:
          title: Description
          type: string
        totalSpans:
          title: Totalspans
          type: integer
        transactionCount:
          title: Transactioncount
          type: integer
        spansPerTxn:
          title: Spanspertxn
          type: number
        avgDuration:
          title: Avgduration
          type: number
        totalTime:
          title: Totaltime
          type: number
      required:
      - transactionName
      - op
      - description
      - totalSpans
      - transactionCount
      - spansPerTxn
      - avgDuration
      - totalTime
      title: NPlusOnePatternSchema
      type: object
    CommitSchema:
      description: Output schema for commit data, matching documented public API.
      properties:
        id:
          title: Id
          type: string
        message:
          default: ''
          title: Message
          nullable: true
          type: string
        dateCreated:
          title: Datecreated
          nullable: true
          type: string
        authorName:
          title: Authorname
          nullable: true
          type: string
        authorEmail:
          title: Authoremail
          nullable: true
          type: string
      required:
      - id
      title: CommitSchema
      type: object
    CommitIn:
      properties:
        id:
          title: Id
          type: string
        message:
          default: ''
          title: Message
          type: string
        authorName:
          default: ''
          title: Authorname
          type: string
        authorEmail:
          default: ''
          title: Authoremail
          type: string
      required:
      - id
      title: CommitIn
      type: object
    OrganizationUserIn:
      properties:
        orgRole:
          enum:
          - member
          - admin
          - manager
          - owner
          title: Orgrole
          type: string
        teamRoles:
          items:
            $ref: '#/components/schemas/TeamRole'
          title: Teamroles
          type: array
        email:
          format: email
          title: Email
          type: string
        sendInvite:
          default: true
          title: Sendinvite
          type: boolean
        reinvite:
          default: true
          title: Reinvite
          type: boolean
      required:
      - orgRole
      - email
      title: OrganizationUserIn
      type: object
    ProjectSchema:
      description: 'A project is an organizational unit for GlitchTip events. It may contain

        DSN keys, be connected to exactly one organization, and provide user permissions

        through teams.'
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
        id:
          title: Id
          type: string
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        color:
          default: ''
          title: Color
          type: string
        features:
          default: []
          items:
            type: string
          title: Features
          type: array
        hasAccess:
          default: true
          title: Hasaccess
          type: boolean
        isBookmarked:
          default: false
          title: Isbookmarked
          type: boolean
        isInternal:
          default: false
          title: Isinternal
          type: boolean
        isMember:
          title: Ismember
          type: boolean
        isPublic:
          default: false
          title: Ispublic
          type: boolean
        scrubIPAddresses:
          title: Scrubipaddresses
          type: boolean
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        platform:
          title: Platform
          nullable: true
          type: string
        firstEvent:
          title: First Event
          nullable: true
          format: date-time
          type: string
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
      required:
      - name
      - id
      - isMember
      - scrubIPAddresses
      - dateCreated
      title: ProjectSchema
      type: object
    OrganizationSchema:
      properties:
        name:
          description: The name of the organization
          maxLength: 200
          title: Name
          type: string
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        status:
          additionalProperties:
            type: string
          default:
            id: active
            name: active
          title: Status
          type: object
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        isEarlyAdopter:
          default: false
          title: Isearlyadopter
          type: boolean
        require2fa:
          default: false
          title: Require2Fa
          type: boolean
        slug:
          description: The name in all lowercase, suitable for URL identification
          maxLength: 200
          title: Slug
          type: string
        isAcceptingEvents:
          default: true
          description: Used for throttling at org level
          title: Is Accepting Events
          type: boolean
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
      required:
      - name
      - id
      - dateCreated
      - slug
      title: OrganizationSchema
      type: object
    ProjectTeamSchema:
      description: Project Schema with related teams
      properties:
        name:
          maxLength: 64
          title: Name
          type: string
        slug:
          title: Slug
          nullable: true
          type: string
        id:
          title: Id
          type: string
        avatar:
          additionalProperties:
            nullable: true
            type: string
          default:
            avatarType: ''
            avatarUuid: null
          title: Avatar
          type: object
        color:
          default: ''
          title: Color
          type: string
        features:
          default: []
          items:
            type: string
          title: Features
          type: array
        hasAccess:
          default: true
          title: Hasaccess
          type: boolean
        isBookmarked:
          default: false
          title: Isbookmarked
          type: boolean
        isInternal:
          default: false
          title: Isinternal
          type: boolean
        isMember:
          title: Ismember
          type: boolean
        isPublic:
          default: false
          title: Ispublic
          type: boolean
        scrubIPAddresses:
          title: Scrubipaddresses
          type: boolean
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        platform:
          title: Platform
          nullable: true
          type: string
        firstEvent:
          title: First Event
          nullable: true
          format: date-time
          type: string
        eventThrottleRate:
          default: 0
          description: Probability (in percent) on how many events are throttled. Used for throttling at project level
          title: Event Throttle Rate
          type: integer
        teams:
          items:
            $ref: '#/components/schemas/TeamSlugSchema'
          title: Teams
          type: array
      required:
      - name
      - id
      - isMember
      - scrubIPAddresses
      - dateCreated
      - teams
      title: ProjectTeamSchema
      type: object
    DebugSymbolBundleSchema:
      properties:
        id:
          title: Id
          type: string
        dateCreated:
          format: date-time
          title: Datecreated
          type: string
        sha1:
          title: Sha1
          nullable: true
          type: string
        headers:
          title: Headers
          nullable: true
          additionalProperties:
            type: string
          type: object
        name:
          title: Name
          type: string
        size:
          default: 0
          title: Size
          type: integer
      required:
      - id
      - dateCreated
      - name
      title: DebugSymbolBundleSchema
      type: object
    UserOptions:
      properties:
        timezone:
          title: Timezone
          nullable: true
          type: string
        stacktraceOrder:
          title: Stacktraceorder
          nullable: true
          type: integer
        language:
          title: Language
          nullable: true
          type: string
        clock24Hours:
          title: Clock24Hours
          nullable: true
          type: boolean
        preferredTheme:
          title: Preferredtheme
          nullable: true
          type: string
      title: UserOptions
      type: object
    TransactionGroupSchema:
      properties:
        project:
          title: Project
          type: integer
        id:
          title: Id
          type: integer
        transaction:
          maxLength: 1024
          title: Transaction
          type: string
        op:
          maxLength: 255
          title: Op
          type: string
        method:
          default: ''
          title: Method
          nullable: true
          maxLength: 255
          type: string
        count:
          default: 0
          title: Count
          type: integer
        avgDuration:
          default: 0
          description: Average duration in ms
          title: Avg Duration
          type: number
        p50:
          title: P50
          nullable: true
          type: number
        p95:
          title: P95
          nullable: true
          type: number
        errorCount:
          default: 0
          title: Error Count
          type: integer
        firstSeen:
          format: date-time
          title: First Seen
          type: string
        lastSeen:
          format: date-time
          title: Last Seen
          type: string
        errorRate:
          description: Delegates to TransactionGroup.error_rate property.
          readOnly: true
          title: Errorrate
          type: number
        throughput:
          description: Delegates to TransactionGroup.throughput property.
          readOnly: true
          title: Throughput
          nullable: true
          type: number
      required:
      - project
      - id
      - transaction
      - op
      - firstSeen
      - lastSeen
      - errorRate
      - throughput
      title: TransactionGroupSchema
      type: object
    StatusPageIn:
      properties:
        isPublic:
          default: false
          title: Ispublic
          type: boolean
        name:
          maxLength: 200
          title: Name
          type: string
      required:
      - name
      title: StatusPageIn
      type: object
    TransactionTrendSchema:
      properties:
        date:
          format: date-time
          title: Date
          type: string
        count:
          title: Count
          type: integer
        transactionCount:
          title: Transactioncount
          type: integer
        avgDuration:
          title: Avgduration
          type: number
        totalTime:
          title: Totaltime
          type: number
      required:
      - date
      - count
      - transactionCount
      - avgDuration
      - totalTime
      title: TransactionTrendSchema
      type: object
    OrganizationInSchema:
      properties:
        name:
          description: The name of the organization
          maxLength: 200
          title: Name
          type: string
      required:
      - name
      title: OrganizationInSchema
      type: object
    LogEventSchema:
      description: Schema for log event API responses.
      properties:
        id:
          format: uuid
          title: Id
          type: string
        timestamp:
          format: date-time
          title: Timestamp
          type: string
        level:
          title: Level
          type: string
        body:
          title: Body
          type: string
[...]
