openapi: 3.2.0
info:
  title: GlitchTip Settings API
  version: 1.0.0
  description: ''
  contact:
    email: sales@glitchtip.com
    url: https://glitchtip.com/
  license:
    name: MIT
  x-api-id: glitchtip
servers:
- url: https://app.glitchtip.com
  description: GlitchTip production server
tags:
- name: Settings
paths:
  /api/settings/:
    get:
      operationId: glitchtip_api_api_get_settings
      summary: Get Settings
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsOut'
      tags:
      - Settings
components:
  schemas:
    SettingsOut:
      properties:
        socialApps:
          items:
            $ref: '#/components/schemas/SocialAppSchema'
          title: Socialapps
          type: array
        billingEnabled:
          title: Billingenabled
          type: boolean
        iPaidForGlitchTip:
          title: Ipaidforglitchtip
          type: boolean
        enableUserRegistration:
          title: Enableuserregistration
          type: boolean
        enableSocialAppsUserRegistration:
          title: Enablesocialappsuserregistration
          type: boolean
        enableOrganizationCreation:
          title: Enableorganizationcreation
          type: boolean
        stripePublicKey:
          title: Stripepublickey
          type:
          - string
          - 'null'
        plausibleUrl:
          title: Plausibleurl
          type:
          - string
          - 'null'
        plausibleDomain:
          title: Plausibledomain
          type:
          - string
          - 'null'
        chatwootWebsiteToken:
          title: Chatwootwebsitetoken
          type:
          - string
          - 'null'
        sentryDSN:
          title: Sentrydsn
          type:
          - string
          - 'null'
        sentryTracesSampleRate:
          title: Sentrytracessamplerate
          type:
          - number
          - 'null'
        environment:
          title: Environment
          type:
          - string
          - 'null'
        version:
          title: Version
          type: string
        serverTimeZone:
          title: Servertimezone
          type: string
        glitchtipInstanceName:
          title: Glitchtipinstancename
          type:
          - string
          - 'null'
        enabledFeatures:
          items:
            type: string
          title: Enabledfeatures
          type: array
      required:
      - socialApps
      - billingEnabled
      - iPaidForGlitchTip
      - enableUserRegistration
      - enableSocialAppsUserRegistration
      - enableOrganizationCreation
      - stripePublicKey
      - plausibleUrl
      - plausibleDomain
      - chatwootWebsiteToken
      - sentryDSN
      - sentryTracesSampleRate
      - environment
      - version
      - serverTimeZone
      - glitchtipInstanceName
      - enabledFeatures
      title: SettingsOut
      type: object
    SocialAppSchema:
      properties:
        scopes:
          items:
            type: string
          title: Scopes
          type: array
        authorize_url:
          title: Authorize Url
          type:
          - string
          - 'null'
        name:
          maxLength: 40
          title: Name
          type: string
        client_id:
          description: App ID, or consumer key
          maxLength: 191
          title: Client Id
          type: string
        provider:
          maxLength: 30
          title: Provider
          type: string
      required:
      - scopes
      - authorize_url
      - name
      - client_id
      - provider
      title: SocialAppSchema
      type: object
  securitySchemes:
    TokenAuth:
      type: http
      scheme: bearer
    SessionAuth:
      type: apiKey
      in: cookie
      name: sessionid
